[submodule "Minizip"]
	path = Minizip
	url = https://github.com/LoopKit/Minizip.git
[submodule "TrueTime.swift"]
	path = TrueTime.swift
	url = https://github.com/LoopKit/TrueTime.swift.git
[submodule "Loop"]
	path = Loop
	url = https://github.com/aiwanyun/Loop.git
	branch = dev
[submodule "RileyLinkKit"]
	path = RileyLinkKit
	url = https://github.com/aiwanyun/RileyLinkKit.git
	branch = dev
[submodule "dexcom-share-client-swift"]
	path = dexcom-share-client-swift
	url = https://github.com/aiwanyun/dexcom-share-client-swift.git
	branch = dev
